<div id="pdsFamilyBackground" class="flex flex-col w-full p-4 gap-2">
    <!-- Spouse's Name -->
    <div class="flex flex-col w-full h-auto border border-black gap-2">
        <div class="flex w-full gap-5">
            <!-- column 1 -->
            <div class="flex flex-col w-1/2 gap-2">
                <div class="flex flex-col w-full">
                    <div>Spouse's Surname</div>
                    <input type="text" placeholder="Surname..." class="w-full h-10 border rounded-lg border-gray-300">
                </div>
                <div class="flex flex-col w-full">
                    <div>Firstname</div>
                    <input type="text" placeholder="Firstname..." class="w-full h-10 border rounded-lg border-gray-300">
                </div>
                <div class="flex flex-col w-full">
                    <div>Middlename</div>
                    <input type="text" placeholder="Middlename..." class="w-full h-10 border rounded-lg border-gray-300">
                </div>
            </div>
            <!-- column 2 -->
            <div class="flex flex-col w-1/2">
                <div>Name Extension (if applicable)</div>
                <input type="text" placeholder="Name Extension..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
        </div>
        <!-- Spouse's Info -->
        <div class="flex flex-col w-full gap-2">
            <div class="flex flex-col w-full">
                <div>Occupation</div>
                <input type="text" placeholder="Occupation..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Employer/Business Name</div>
                <input type="text" placeholder="Employer/Business Name..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Business Address</div>
                <input type="text" placeholder="Business Address..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Telephone No.</div>
                <input type="text" placeholder="Telephone No...." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
        </div>
    </div>
    <!-- Father's Name -->
    <div class="flex w-full h-auto border border-black gap-5">
        <!-- column 1 -->
        <div class="flex flex-col w-1/2 gap-2">
            <div class="flex flex-col w-full">
                <div>Father's Surname</div>
                <input type="text" placeholder="Surname..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Firstname</div>
                <input type="text" placeholder="Firstname..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Middlename</div>
                <input type="text" placeholder="Middlename..." class="w-full h-10 p-2 border rounded-lg border-gray-300">
            </div>
        </div>
        <!-- column 2 -->
        <div class="flex flex-col w-1/2">
            <div>Name Extension (if applicable)</div>
            <input type="text" placeholder="Name Extension..." class="w-full h-10 p-2 border rounded-lg border-gray-300">
        </div>
    </div>
    <!-- Mother's Name -->
    <div class="flex w-full h-auto border border-black gap-5">
        <!-- column 1 -->
        <div class="flex flex-col w-1/2 gap-2">
            <div class="flex flex-col w-full">
                <div>Mother's Maiden Name</div>
                <input type="text" placeholder="Mother's Maiden Name..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Mother's Surname</div>
                <input type="text" placeholder="Surname..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Firstname</div>
                <input type="text" placeholder="Firstname..." class="w-full h-10 border rounded-lg border-gray-300">
            </div>
            <div class="flex flex-col w-full">
                <div>Middlename</div>
                <input type="text" placeholder="Middlename..." class="w-full h-10 p-2 border rounded-lg border-gray-300">
            </div>
        </div>
        <!-- column 2 -->
        <div class="flex flex-col w-1/2">
            <div>Name Extension (if applicable)</div>
            <input type="text" placeholder="Name Extension..." class="w-full h-10 p-2 border rounded-lg border-gray-300">
        </div>
    </div>
    <div class="flex flex-col w-full h-auto border border-black gap-5">
        <div>Children</div>
        <div class="flex w-full gap-5">
            <!-- column 1 -->
            <div class="flex flex-col w-1/2 gap-2">
                <div class="flex flex-col w-full">
                    <div>Name</div>
                    <input type="text" placeholder="Name..." class="w-full h-10 border rounded-lg border-gray-300">
                </div>
            </div>
            <!-- column 2 -->
            <div class="flex flex-col w-1/2">
                <div>Date of Birth</div>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <input datepicker id="children-birthday-date-picker" type="text" class="border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10"  placeholder="Select date">
                </div>
            </div>
        </div>
        <div class="flex items-center justify-end">
            <button class="w-1/5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">+ Add Children</button>
        </div>
    </div>
</div>
