@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


.alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }

  .gradient-background {
    background: linear-gradient(252deg,rgb(175, 172, 255),rgb(33, 33, 254));
    background-size: 120% 120%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }