<div class="flex flex-row sm:flex-wrap lg:flex-nowrap h-screen w-screen relative">
  <app-sidebar-navigation></app-sidebar-navigation>
  <!-- Left Main Column -->
  <aside class="lg:w-[25%] h-auto flex flex-col items-center">
    <!-- Heading Div -->
    <div class="flex flex-col w-full basis-1/5 p-6 justify-center">
      <p class="text-3xl font-bold text-neutral-900">Personal Data Sheet</p>
      <p class="pb-5 text-slate-500 text-sm">View and Modify User Details</p>
    </div>
    <!-- Div For Section Headers -->
    <div class="flex flex-col border shadow-lg rounded-lg bg-white justify-evenly gap-2 items-center mt-2 mb-4 p-2 w-full basis-4/5">
      <div *ngFor="let section of sections" (click)="navigateTo(section.route)" class="flex flex-col justify-center items-start w-full h-full px-6 bg-white border rounded-lg hover:bg-gray-200">
        <span class="font-light tracking-tight text-gray-900 dark:text-white">{{ section.title }}</span>
      </div>
    </div>
  </aside>
  <!-- Right Main Column -->
  <section class="lg:w-[75%] bg-white rounded-lg shadow-lg m-4 p-6 border relative max-h-full overflow-hidden flex flex-col">
    <div class="flex w-full justify-start">
      <div class="flex flex-row justify-center items-center basis-1/5">
        <img src="assets/user_icon.svg" class="h-24 w-auto" alt="Person Circle Icon">
      </div>
      <div class="flex flex-col justify-center items-center text-center basis-4/5">
        <span class="m-0 text-2xl">Username</span>
        <span class="m-0 text-gray-600">Position</span>
      </div>
    </div>
    <div class="flex justify-between my-4">
      <span class="text-base font-medium text-blue-700 dark:text-white">Step 1/8</span>
      <span class="text-sm font-medium text-blue-700 dark:text-white">12.5%</span>
    </div>
    <div class="flex flex-row w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-blue-600 h-2.5 rounded-full w-[12.5%]"></div>
    </div>
    <!-- [@routeAnimations]="prepareRoute(outlet)" -->
    <div class="content slider-wrapper max-h-full overflow-x-auto">
      <!-- <router-outlet #outlet="outlet"></router-outlet> -->
      <app-personal-information></app-personal-information>
    </div>

  </section>
</div>
