<form (ngSubmit)="submitForm()">
    <!-- Elementary Education -->
    <h3>Elementary Education</h3>
    <label for="elementaryNameOfSchool">Name of School:</label>
    <input id="elementaryNameOfSchool" [(ngModel)]="elementaryNameOfSchool" name="elementaryNameOfSchool" placeholder="Name of School">
    
    <label for="elementaryBasicEducationDegreeCourse">Basic Education/Degree/Course:</label>
    <input id="elementaryBasicEducationDegreeCourse" [(ngModel)]="elementaryBasicEducationDegreeCourse" name="elementaryBasicEducationDegreeCourse" placeholder="Basic Education/Degree/Course">
    
    <label for="elementaryPeriodOfAttendanceFrom">Period of Attendance From:</label>
    <input id="elementaryPeriodOfAttendanceFrom" [(ngModel)]="elementaryPeriodOfAttendanceFrom" name="elementaryPeriodOfAttendanceFrom" type="date">
    
    <label for="elementaryPeriodOfAttendanceTo">Period of Attendance To:</label>
    <input id="elementaryPeriodOfAttendanceTo" [(ngModel)]="elementaryPeriodOfAttendanceTo" name="elementaryPeriodOfAttendanceTo" type="date">
    
    <label for="elementaryHighestLevelUnitsEarned">Highest Level/Units Earned:</label>
    <input id="elementaryHighestLevelUnitsEarned" [(ngModel)]="elementaryHighestLevelUnitsEarned" name="elementaryHighestLevelUnitsEarned" placeholder="Highest Level/Units Earned">
    
    <label for="elementaryYearGraduated">Year Graduated:</label>
    <input id="elementaryYearGraduated" [(ngModel)]="elementaryYearGraduated" name="elementaryYearGraduated" type="number" placeholder="Year Graduated">
    
    <label for="elementaryScholarshipHonorsReceived">Scholarship/Honors Received:</label>
    <input id="elementaryScholarshipHonorsReceived" [(ngModel)]="elementaryScholarshipHonorsReceived" name="elementaryScholarshipHonorsReceived" placeholder="Scholarship/Honors Received">
  
    <!-- Secondary Education -->
    <h3>Secondary Education</h3>
    <label for="secondaryNameOfSchool">Name of School:</label>
    <input id="secondaryNameOfSchool" [(ngModel)]="secondaryNameOfSchool" name="secondaryNameOfSchool" placeholder="Name of School">
    
    <label for="secondaryBasicEducationDegreeCourse">Basic Education/Degree/Course:</label>
    <input id="secondaryBasicEducationDegreeCourse" [(ngModel)]="secondaryBasicEducationDegreeCourse" name="secondaryBasicEducationDegreeCourse" placeholder="Basic Education/Degree/Course">
    
    <label for="secondaryPeriodOfAttendanceFrom">Period of Attendance From:</label>
    <input id="secondaryPeriodOfAttendanceFrom" [(ngModel)]="secondaryPeriodOfAttendanceFrom" name="secondaryPeriodOfAttendanceFrom" type="date">
    
    <label for="secondaryPeriodOfAttendanceTo">Period of Attendance To:</label>
    <input id="secondaryPeriodOfAttendanceTo" [(ngModel)]="secondaryPeriodOfAttendanceTo" name="secondaryPeriodOfAttendanceTo" type="date">
    
    <label for="secondaryHighestLevelUnitsEarned">Highest Level/Units Earned:</label>
    <input id="secondaryHighestLevelUnitsEarned" [(ngModel)]="secondaryHighestLevelUnitsEarned" name="secondaryHighestLevelUnitsEarned" placeholder="Highest Level/Units Earned">
    
    <label for="secondaryYearGraduated">Year Graduated:</label>
    <input id="secondaryYearGraduated" [(ngModel)]="secondaryYearGraduated" name="secondaryYearGraduated" type="number" placeholder="Year Graduated">
    
    <label for="secondaryScholarshipHonorsReceived">Scholarship/Honors Received:</label>
    <input id="secondaryScholarshipHonorsReceived" [(ngModel)]="secondaryScholarshipHonorsReceived" name="secondaryScholarshipHonorsReceived" placeholder="Scholarship/Honors Received">
  
    <!-- Vocational/Trade Course -->
    <h3>Vocational/Trade Course</h3>
    <label for="vocationalNameOfSchool">Name of School:</label>
    <input id="vocationalNameOfSchool" [(ngModel)]="vocationalNameOfSchool" name="vocationalNameOfSchool" placeholder="Name of School">
    
    <label for="vocationalBasicEducationDegreeCourse">Basic Education/Degree/Course:</label>
    <input id="vocationalBasicEducationDegreeCourse" [(ngModel)]="vocationalBasicEducationDegreeCourse" name="vocationalBasicEducationDegreeCourse" placeholder="Basic Education/Degree/Course">
    
    <label for="vocationalPeriodOfAttendanceFrom">Period of Attendance From:</label>
    <input id="vocationalPeriodOfAttendanceFrom" [(ngModel)]="vocationalPeriodOfAttendanceFrom" name="vocationalPeriodOfAttendanceFrom" type="date">
    
    <label for="vocationalPeriodOfAttendanceTo">Period of Attendance To:</label>
    <input id="vocationalPeriodOfAttendanceTo" [(ngModel)]="vocationalPeriodOfAttendanceTo" name="vocationalPeriodOfAttendanceTo" type="date">
    
    <label for="vocationalHighestLevelUnitsEarned">Highest Level/Units Earned:</label>
    <input id="vocationalHighestLevelUnitsEarned" [(ngModel)]="vocationalHighestLevelUnitsEarned" name="vocationalHighestLevelUnitsEarned" placeholder="Highest Level/Units Earned">
    
    <label for="vocationalYearGraduated">Year Graduated:</label>
    <input id="vocationalYearGraduated" [(ngModel)]="vocationalYearGraduated" name="vocationalYearGraduated" type="number" placeholder="Year Graduated">
    
    <label for="vocationalScholarshipHonorsReceived">Scholarship/Honors Received:</label>
    <input id="vocationalScholarshipHonorsReceived" [(ngModel)]="vocationalScholarshipHonorsReceived" name="vocationalScholarshipHonorsReceived" placeholder="Scholarship/Honors Received">
  
    <!-- College -->
    <h3>College</h3>
    <label for="collegeNameOfSchool">Name of School:</label>
    <input id="collegeNameOfSchool" [(ngModel)]="collegeNameOfSchool" name="collegeNameOfSchool" placeholder="Name of School">
    
    <label for="collegeBasicEducationDegreeCourse">Basic Education/Degree/Course:</label>
    <input id="collegeBasicEducationDegreeCourse" [(ngModel)]="collegeBasicEducationDegreeCourse" name="collegeBasicEducationDegreeCourse" placeholder="Basic Education/Degree/Course">
    
    <label for="collegePeriodOfAttendanceFrom">Period of Attendance From:</label>
    <input id="collegePeriodOfAttendanceFrom" [(ngModel)]="collegePeriodOfAttendanceFrom" name="collegePeriodOfAttendanceFrom" type="date">
    
    <label for="collegePeriodOfAttendanceTo">Period of Attendance To:</label>
    <input id="collegePeriodOfAttendanceTo" [(ngModel)]="collegePeriodOfAttendanceTo" name="collegePeriodOfAttendanceTo" type="date">
    
    <label for="collegeHighestLevelUnitsEarned">Highest Level/Units Earned:</label>
    <input id="collegeHighestLevelUnitsEarned" [(ngModel)]="collegeHighestLevelUnitsEarned" name="collegeHighestLevelUnitsEarned" placeholder="Highest Level/Units Earned">
    
    <label for="collegeYearGraduated">Year Graduated:</label>
    <input id="collegeYearGraduated" [(ngModel)]="collegeYearGraduated" name="collegeYearGraduated" type="number" placeholder="Year Graduated">
    
    <label for="collegeScholarshipHonorsReceived">Scholarship/Honors Received:</label>
    <input id="collegeScholarshipHonorsReceived" [(ngModel)]="collegeScholarshipHonorsReceived" name="collegeScholarshipHonorsReceived" placeholder="Scholarship/Honors Received">
  
    <!-- Graduate Studies -->
    <h3>Graduate Studies</h3>
    <label for="graduateNameOfSchool">Name of School:</label>
    <input id="graduateNameOfSchool" [(ngModel)]="graduateNameOfSchool" name="graduateNameOfSchool" placeholder="Name of School">
    
    <label for="graduateBasicEducationDegreeCourse">Basic Education/Degree/Course:</label>
    <input id="graduateBasicEducationDegreeCourse" [(ngModel)]="graduateBasicEducationDegreeCourse" name="graduateBasicEducationDegreeCourse" placeholder="Basic Education/Degree/Course">
    
    <label for="graduatePeriodOfAttendanceFrom">Period of Attendance From:</label>
    <input id="graduatePeriodOfAttendanceFrom" [(ngModel)]="graduatePeriodOfAttendanceFrom" name="graduatePeriodOfAttendanceFrom" type="date">
    
    <label for="graduatePeriodOfAttendanceTo">Period of Attendance To:</label>
    <input id="graduatePeriodOfAttendanceTo" [(ngModel)]="graduatePeriodOfAttendanceTo" name="graduatePeriodOfAttendanceTo" type="date">
    
    <label for="graduateHighestLevelUnitsEarned">Highest Level/Units Earned:</label>
    <input id="graduateHighestLevelUnitsEarned" [(ngModel)]="graduateHighestLevelUnitsEarned" name="graduateHighestLevelUnitsEarned" placeholder="Highest Level/Units Earned">
    
    <label for="graduateYearGraduated">Year Graduated:</label>
    <input id="graduateYearGraduated" [(ngModel)]="graduateYearGraduated" name="graduateYearGraduated" type="number" placeholder="Year Graduated">
    
    <label for="graduateScholarshipHonorsReceived">Scholarship/Honors Received:</label>
    <input id="graduateScholarshipHonorsReceived" [(ngModel)]="graduateScholarshipHonorsReceived" name="graduateScholarshipHonorsReceived" placeholder="Scholarship/Honors Received">
  
    <!-- Submit Button -->
    <button type="submit">Submit</button>
  </form>
  