<div class="flex flex-row sm:flex-wrap md:flex-wrap lg:flex-nowrap h-screen w-screen relative sm:overflow-x-hidden">
  <app-sidebar-navigation></app-sidebar-navigation>
  <!-- Left Main Column -->
  <aside class="lg:w-[25%] md:w-screen sm:w-screen h-auto flex flex-col items-center">
    <!-- Heading Div -->
    <div class="flex flex-col w-full basis-1/5 p-6 justify-center">
      <p class="text-3xl font-bold text-neutral-900">Personal Data Sheet</p>
      <p class="pb-5 text-slate-500 text-sm">View and Modify User Details</p>
    </div>
    <!-- Div For Section Headers -->
    <div class="flex flex-col border shadow-lg rounded-lg bg-white justify-evenly gap-3 items-center mt-2 mb-4 p-2 w-full basis-4/5">
      <div *ngFor="let section of sections" class="flex flex-col justify-center items-center w-full h-full">
        <button [ngClass]="{'bg-blue-500 text-white cursor-default': section.route === currentUrl, 'bg-white text-gray-900 hover:bg-gray-200 transition-colors': section.route !== currentUrl}"
        class="flex flex-col justify-center items-start w-full h-full px-6 rounded-lg">
          <span class="font-normal tracking-widest text-left">{{ section.title }}</span>
        </button>
        <hr>
      </div>
    </div>
  </aside>
  <!-- Right Main Column -->
  <section class="lg:w-[75%] bg-white rounded-lg shadow-lg m-4 p-4 border relative max-h-full overflow-hidden flex flex-col">
    <div class="flex flex-row">
      <div class="flex w-full justify-center basis-2/5 pb-4">
        <div class="flex flex-row justify-end items-center basis-2/5 pr-3">
          <img src="assets/user_icon.svg" class="h-20 w-auto" alt="Person Circle Icon">
        </div>
        <div class="flex flex-col justify-center items-start text-center basis-3/5 pl-3">
          <span class="m-0 p-0 text-2xl">Juan Dela Cruz</span>
          <span class="m-0 p-0 text-sm text-gray-600">Janitor</span>
        </div>
      </div>
      <div class="flex justify-center items-center basis-3/5">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">General Information</button>
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Employment Records</button>
        <button type="button" [routerLink]="[compensationRecordsUrl]" routerLinkActive="active" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Compensation Records</button>
        <button type="button" [routerLink]="[dtrUrl]" routerLinkActive="active" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Daily Time Records</button>
      </div>
    </div>
    <hr>
    <!-- [@routeAnimations]="prepareRoute(outlet)" -->
    <div class="mt-4 w-full h-full max-h-full flex flex-col overflow-x-hidden overflow-y-auto">
      <!-- Form Pages Here -->
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
    <button type="button" (click)="navigateTo(sections[0].route)" class="text-white bg-green-500 shadow-lg hover:bg-green-800 absolute z-50 bottom-4 right-2/4 translate-x-1/2
    focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2" *ngIf="currentUrl !== compensationRecordsUrl">Edit</button>
  </section>
</div>
