<div class="flex">
    <app-sidebar-navigation></app-sidebar-navigation>
    <div class="flex-grow">
        <div class="min-h-screen">
            <main class="p-6">
                <div class="mb-6">
                    <p class="mb-2 text-3xl font-bold text-neutral-900">Merits and Violations<br></p>
                    <p class="mb-2 pb-5 text-slate-500 text-sm">Configure and view merits and violations of employees</p>
                    <div class="flex">
                      
                        <!-- TODO: display table containing employees
                        
                        search employees -- filters a-z or z-a 
                       cols - employees | merits | violations 
                       rows - employee1 | merit1 | violation1
                                        | desc   | desc
                                        | date   | date
                                        
                        clicking employee displays all merits and violations of employee?

                                        -->
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
