<div class="flex">
    <app-sidebar-navigation></app-sidebar-navigation>
    <div class="flex-grow">
        <div class="min-h-screen">
            <main class="p-6">
                <div class="mb-6">
                    <p class="mb-2 text-3xl font-bold text-neutral-900">Merits and Violations<br></p>
                    <p class="mb-2 pb-5 text-slate-500 text-sm">Configure and view merits and violations of employees</p>
                    
                    <form [formGroup]="meritsViolationsForm" (ngSubmit)="submitForm()">
                        <div>
                            <label for="violations" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Violations:</label>
                            <input id="violations" formControlName="violations" type="text" placeholder="Enter violations"
                                class="bg-white border border-blue-800 text-black text-sm rounded-lg focus:ring-4 focus:ring-blue-300 block w-full p-2.5 dark:bg-blue-600 dark:border-blue-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-800" />
                        </div>
                    
                        <div>
                            <label for="merits" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Merits:</label>
                            <input id="merits" formControlName="merits" type="text" placeholder="Enter merits"
                                class="bg-white\ border border-blue-800 text-black text-sm rounded-lg focus:ring-4 focus:ring-blue-300 block w-full p-2.5 dark:bg-blue-600 dark:border-blue-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-800" />
                        </div>
                    
                        <div>
                            <label for="date_of_record_v" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date of Violation:</label>
                            <input id="date_of_record_v" formControlName="date_of_record_v" type="date"
                                class="bg-white\ border border-blue-800 text-black text-sm rounded-lg focus:ring-4 focus:ring-blue-300 block w-full p-2.5 dark:bg-blue-600 dark:border-blue-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-800" />
                            <div *ngIf="meritsViolationsForm.get('date_of_record_v')?.invalid && meritsViolationsForm.get('date_of_record_v')?.touched">
                                <small class="error text-red-500">Date of violation is required.</small>
                            </div>
                        </div>
                    
                        <div>
                            <label for="date_of_record_m" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date of Merit:</label>
                            <input id="date_of_record_m" formControlName="date_of_record_m" type="date"
                                class="bg-white\ border border-blue-800 text-black text-sm rounded-lg focus:ring-4 focus:ring-blue-300 block w-full p-2.5 dark:bg-blue-600 dark:border-blue-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-800" />
                            <div *ngIf="meritsViolationsForm.get('date_of_record_m')?.invalid && meritsViolationsForm.get('date_of_record_m')?.touched">
                                <small class="error text-red-500">Date of merit is required.</small>
                            </div>
                        </div>
                    
                        <div>
                            <label for="user_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User:</label>
                            <select id="user_id" formControlName="user_id"
                                class="bg-white\ border border-blue-800 text-black text-sm rounded-lg focus:ring-4 focus:ring-blue-300 block w-full p-2.5 dark:bg-blue-600 dark:border-blue-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-800">
                                <option value="" disabled>Select a user</option>
                                <option *ngFor="let profile of profiles" [value]="profile.user_id">{{ profile.first_name }} {{ profile.mid_name }} {{ profile.surname }}</option>
                            </select>
                            <div *ngIf="meritsViolationsForm.get('user_id')?.invalid && meritsViolationsForm.get('user_id')?.touched">
                                <small class="error text-red-500">User selection is required.</small>
                            </div>
                        </div>
                    
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
                    </form>
                    

                    
                    <!-- <div class="overflow-x-auto">
                        <div class="max-h-[29rem] overflow-y-auto custom-scrollbar">
                            <table class="w-full text-left" >
                                <thead class="bg-gray-100 z-10 sticky top-0">
                                    <tr>
                                        <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                        <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                                        <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Merits</th>
                                        <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Violations</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                    

                                </tbody>
                            </table>

                        </div>
                    </div> -->
                </div>
            </main>
        </div>
    </div>
</div>
