<!-- test-back4.component.html -->
<div class="container">
    <h1>Civil Service Eligibility Form</h1>
    <form (ngSubmit)="submitForm()" #eligibilityForm="ngForm">
      <div class="form-group">
        <label for="careerService">Career Service</label>
        <input
          type="text"
          id="careerService"
          name="careerService"
          class="form-control"
          [(ngModel)]="careerService"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="rating">Rating</label>
        <input
          type="number"
          id="rating"
          name="rating"
          class="form-control"
          [(ngModel)]="rating"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="dateOfExamination">Date of Examination</label>
        <input
          type="date"
          id="dateOfExamination"
          name="dateOfExamination"
          class="form-control"
          [(ngModel)]="dateOfExamination"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="placeOfExamination">Place of Examination</label>
        <input
          type="text"
          id="placeOfExamination"
          name="placeOfExamination"
          class="form-control"
          [(ngModel)]="placeOfExamination"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="licenseNumber">License Number</label>
        <input
          type="text"
          id="licenseNumber"
          name="licenseNumber"
          class="form-control"
          [(ngModel)]="licenseNumber"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="licenseDateOfValidity">License Date of Validity</label>
        <input
          type="date"
          id="licenseDateOfValidity"
          name="licenseDateOfValidity"
          class="form-control"
          [(ngModel)]="licenseDateOfValidity"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>